<h1>Checklists#new</h1>
<p>Find me in app/views/checklists/new.html.erb</p>

<%= flash[:notice] %>
<%= form_for @checklist do |c| %>
  <%= c.label "Task Name*" %>
  <%= c.text_field :task_name %> <br/>
  <%= c.label "Priority*" %>
  <%= c.select :priority, ['High', 'Medium', 'Low']%> <br/>
  <%= c.label :notes%>
  <%= c.text_area :notes %>
  <%= c.submit %>
<%end%>